<% if current_user %>
  <div class="row">
    <div class="col-md-8">
      <div class="media">
        <br />
        <% avatar_url = @user.avatar_url(128) %> <!--avatar_url fetches current_user's avatar -->
        <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %> <!--Rails' image_tag creates <img> -->
        </div>
        <% end %>
        <div class="media-body">
          <h2 class="media-heading"><%= @user.name %></h2>
          <small>
            <%= pluralize(@user.posts.count, 'post') %>,
            <%= pluralize(@user.comments.count, 'comment') %>
          </small>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-10">
    <% if current_user.posts.count == 0 %>
        <h2 class="media-body">
          <%= @user.name %><%= " has not submitted any posts yet." %>
        </h2>
    <% else %>
        <h2>Posts</h2>        <!--display user's posts and comments using partials.-->
          <%= render @user.posts %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <br />
    <% if current_user.comments.count == 0 %>
        <h2 class="media-body">
          <%= @user.name %><%= " has not submitted any comments yet." %>
        </h2>
    <% else %>
        <h2>Comments</h2>
        <%= render @user.comments %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <% if current_user.favorites.count == 0 %>
      <h2 class="media-body">
        <%= @user.name %><%= " doesn't have any facorites yet." %>
      </h2>
    <% else %>
      <h2>Favorites</h2>
        <%= render @user.favorites %>
    <% end %>
  </div>
</div>

<% end %>

